<!DOCTYPE html>
<html>
    <head>
        <title>WetPlant</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        
        <div class="cavnas-container">
            <div class="wrapper">
                <canvas id="SunlightOverTime" width="1600" height="900"></canvas>
                <canvas id="WaterOverTime" width="1600" height="900"></canvas>
                <p>Hello</p>
                <p>Goodbye</p>
            </div>
        </div>


        <script src="sleep.js"></script>
        <script src="script.js"></script>
    </body>
</html>