body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.wrapper {
  max-width: 600px;
  margin: 50px auto;
}

.cavnas-container {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 40%;
}

.cv {
  width: 100%;
  height: 100%;
}