body {
  font-family: Helvetica Neue, Arial, sans-serif;
}

.txtalign {
  text-align: center;
}

.wrapper {
  max-width: 600px;
  margin: 50px auto;
}

.container {
  display: flex;
  justify-content: space-evenly;
}


.padded {
  padding: 15px;
}

.cv {
  width: 40%;
  height: 40%;
}