<!DOCTYPE html>
<html>
    <head>
        <title>Success!</title>

        <!-- Fluid UI -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Extended" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="https://cdn.jottocraft.com/fluid/v4.min.css" media="screen,projection"/>
        <script async src="https://cdn.jottocraft.com/fluid/assets/tinycolor.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jottocraft.com/fluid/v4.min.js"></script>

        <!-- Main Style Sheet-->
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body class="dark">
        <div class="padded">
            <div class="alert success">
                <div class="header">
                    <h5><i class="material-icons">check_circle</i> Success!</h5>
                </div>
                <p>The plant is now being watered</p>
            </div>
        </div>
    </body>

    <script src="timeout.js"></script>
</html>